
.header span{
    display: block;
    font-family:'苹方';
    font-size: .46rem;
    font-weight: bold;
    color: #fff;
    line-height: 1.64rem;
    margin-left:.4rem;
}
.content{
    width: 100%;
    min-height: 13.2rem;
    background-color: #f5f5f5;
    padding-top:2.86rem;
    margin-top:1.64rem;
    overflow: hidden;
}
.content1{
    width: 6.78rem;
    height: 9.0rem;
    margin: 0 auto;
}
.cimg{
    width: 6.78rem;
    height: 5.96rem;
    margin: 0 auto;
}
.cimg img{
    width: 6.78rem;
    height: 5.96rem;
}
.car_wenzi{
    width:6.78rem;
    height:3.24rem;
}
.car_wenzi span{
    display: block;
    font-family:'苹方';
    font-size: .44rem;
    font-weight: bold;
    color: #666;
    margin-left:1.43rem;
    margin-top:.68rem;
}
.lijilogin{
    width: 3.28rem;
    height: 1.18rem;
    background-color:#4dc060;
    margin: 0 auto;
    margin-top:.46rem;
    font-family:'苹方';
    font-size:.44rem;
    font-weight: bold;
    line-height: 1.18rem;
    text-align: center;
    color: #fff;
}
a{
    color: #fff;
}
